/* 
 * Styles shared by more than one component will be here 
 */

/* Class for making things visible with javascript */
.visible {
  visibility: visible !important;
}

@media (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.75rem;
  }
}
